{% block cardAmbassadors %}
    <h2 class="mx-0 mx-lg-3 mb-lg-5 py-4 show homepageTitle"> Nos Ambassadeurs</h2>
    <div class="container-fluid card-ambassador mx-0 px-0 mx-lg-2 px-lg-2 w-100">
        <div class="row justify-content-around">
            {% for ambassador in ambassadorCards %}
                <div class="col-10 col-md-6 col-lg-4 col-xl-4 pt-5 d-flex justify-content-center">
                    <div class="card-home">
                        <div class="picture">
                            <img class="img-fluid" src="
                                                    {% if ambassador.picture is null %}
                                            {{ asset('build/placeholder_profil_grey.png') }}
                                            {% else %}
                                            {{ vich_uploader_asset(ambassador, 'pictureFile') }}
                                            {% endif %}" alt="image de {{ ambassador.firstname }}">
                            <div class="favorite-content d-flex justify-content-end align-items-center mr-4">
                                <a href="{{ path('search_user_add_to_favorite', {'id' : ambassador.id}) }}"
                                   class="btn btn-link js-favorite-link">
                                    <div class="add-to-favorites d-flex flex-row-reverse mt-2">
                                        <span class="js-favorites ml-1 mb-2">{{ ambassador.followers | length }}</span>
                                        {% set class="far" %}
                                        {% if app.user %}
                                            {% for favorite in app.user.followedUsers %}
                                                {% if ambassador == favorite.userFavorite %}
                                                    {% set class="fas" %}
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                        <i class="{{ class }} fa-star ml-2"></i>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="card-infos">
                            <a href="{{ path('user_show', {'id' : ambassador.id}) }}">
                                <h4 class="card-title">{{ ambassador.firstname }}</h4>
                                <h6 class="card-subtitle mb-2 mt-3 text-muted"><i
                                            class="fas fa-map-marker-alt primary-color"></i> {{ ambassador.city }}</h6>
                                <p class="card-text mt-3">{{ ambassador.dutiesToString }}</p>
                            </a>
                        </div>
                        <ul class="btn-discover">
                            <li><a href="{{ path('user_show', {'id': ambassador.id}) }}">Découvrir</a></li>
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
