{% extends 'layout.html.twig' %}

{% block title %}Liste de mes favoris{% endblock %}

{% block body %}
    <h1 class="text-center"> Liste de mes favoris </h1>
    <div class="row justify-content-center mt-5 mx-0">
        {% for favorite in favorites %}
            <div class="col-10 col-md-6 col-lg-4 col-xl-4 pt-5 d-flex justify-content-center">
                <div class="card-home">
                    <div class="picture">
                        <img class="img-fluid" src="
                                {% if favorite.userFavorite.picture is null %}
                                {{ asset('build/placeholder_profil_grey.png') }}
                                {% else %}
                                {{ vich_uploader_asset(favorite.userFavorite, 'pictureFile') }}
                                {% endif %}"
                             alt="image de {{ favorite.userFavorite.firstname }}">
                        <div class="favorite-content d-flex justify-content-end align-items-center mr-4">
                            <a href="{{ path('search_user_add_to_favorite', {'id' : favorite.userFavorite.id}) }}"
                               class="btn btn-link js-favorite-link">
                                <div class="add-to-favorites d-flex flex-row-reverse mt-2">
                                    <span class="js-favorites ml-1 mb-2">{{ favorite.userFavorite.followers | length }}</span>
                                    {% set class="fas" %}
                                    {% if app.user %}
                                        {% for ConnectedUserFavorite in app.user.followedUsers %}
                                            {% if favorite == ConnectedUserFavorite.userFavorite %}
                                                {% set class="far" %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    <i class="{{ class }} fa-star ml-2"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="card-infos">
                        <a href="{{ path('user_show', {'id': favorite.userFavorite.id}) }}">
                            <h4 class="card-title">{% if favorite.userFavorite.roles.0 == 'ROLE_CREATOR' %}
                                    {{ favorite.userFavorite.brand.name }}
                                {% else %}
                                    {{ favorite.userFavorite.firstname }}
                                {% endif %}</h4>
                            <h6 class="card-subtitle mb-2 mt-3 text-muted"><i
                                        class="fas fa-map-marker-alt primary-color"></i>{{ favorite.userFavorite.city }}
                            </h6>
                            <p class="card-text mt-3">{{ favorite.userFavorite.dutiesToString }}</p>
                        </a>
                    </div>
                    <ul class="btn-discover">
                        <li><a href="{{ path('user_show', {'id': favorite.userFavorite.id}) }}">Découvrir</a></li>
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="text-center">
        <p class="m-3">Page : {{ page }}</p>
    </div>
    <div class="text-center">
        {% if page >= 2 %}
            <a class="btn btn-gold mx-5 mb-5" href="{{ path('app_favorite', {'page': page-1}) }}">
                <i class="far fa-arrow-alt-circle-left"></i> Précédent
            </a>
        {% else %}
            <a class="btn btn-inactive mx-5 mb-5">
                <i class="far fa-arrow-alt-circle-left"></i> Précédent
            </a>
        {% endif %}

        {% if page < nbPages %}
            <a class="btn btn-gold mx-5 mb-5" href="{{ path('app_favorite', {'page': page+1}) }}">
                Suivant <i class="far fa-arrow-alt-circle-right"></i>
            </a>
        {% else %}
            <a class="btn btn-inactive mx-5 mb-5">
                Suivant <i class="far fa-arrow-alt-circle-right"></i>
            </a>
        {% endif %}
    </div>

    <div class="text-center m-3">
        <a href="{{ path('app_profile') }}">
            <button type="button" class="btn btn-gold">Retour au profil</button>
        </a>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('favorite') }}
{% endblock %}
